# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
venv/*
/venv
.env
.env.*
*.log

# Node / misc
node_modules/

# Ignore SQLite DB files created during development
.db
.DS_Store

# editors
.vscode/
.idea/
