psutil
flask-sock
flask
gunicorn
requests
supabase
google-generativeai
openai
groq
python-dotenv
google-api-python-client
pytest
ollama
setuptools
wheel
Werkzeug
vaderSentiment
pyTelegramBotAPI
playwright
beautifulsoup4
langchain


chromadb

